* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.underline3,
hr {
  width: 60px;
}

.footer-sec > div {
  display: none;
}

.last-sec {
  display: none;
}

.artist-cont {
  margin: 30px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #272a31;
  padding: 5px;
}

.artist-cont > a {
  text-decoration: none;
  color: #272a31;
}

.fa-solid {
  color: #ec5242;
}

body {
  max-width: 100%;
  background-color: #d3d3d3;
}

.nav-mobile {
  padding-left: 25px;
  background-color: white;
}

.ham-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #272a31;
  margin: 6px 0;
  margin-left: 10px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background: #d3d3d3;
  padding: 14px 16px;
  height: 600px;
  overflow: auto;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.dropdown-content a {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
}

.show {
  display: block;
}

.disappearing-nav2 {
  display: none;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.social-media {
  display: none;
}

.topnav {
  display: none;
}

header {
  max-width: 100%;
  height: auto;
}

.see-more {
  display: none;
}

.last-sec > h3 {
  color: #d3d3d3;
  opacity: 0.5;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.partners-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  gap: 15px;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 70px;
  flex-wrap: wrap;
}

.box1 {
  max-width: 100%;
  align-content: center;
}

.top-icon > i {
  color: white;
}

.first-sec {
  max-width: 100%;
  height: 100%;
  padding: 0 30px 30px 30px;
  background-color: #d3d3d3;
}

.first-sec-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 10px;
}

.first-sec-heading {
  font-family: "cocogoose", sans-serif;
  color: #ec5242;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 30px;
}

.first-sec-heading:hover {
  color: #272a31;
}

.description {
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: #272a31;
  font-size: 20px;
}

.navi {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.date {
  font-family: "Lato", sans-serif;
  line-height: 30px;
  color: #272a31;
}

.second-sec {
  background-image: url("./img/dark-bg.png");
  max-width: 100%;
  height: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100%;
}

.sec-sec-heading {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

.flx2 {
  max-width: 100%;
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
}

.program-box1 {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0, 0.2);
}

.top-icon {
  text-align: center;
  flex: 0;
  width: 100%;
  height: auto;
  font-size: 10px;
}

.program-title {
  color: #ec5242;
  width: 100%;
  height: auto;
  flex: 0;
  font-size: 15px;
  text-align: center;
}

.program-description {
  font-family: "Lato", sans-serif;
  color: aliceblue;
  font-size: 20px;
  flex: 1;
  margin: 0;
}

.btn-prog {
  align-self: center;
  width: 50%;
  height: 60px;
  font-size: 20px;
  background-color: #ec5242;
  color: white;
  border: none;
  margin-bottom: 40px;
}

.third-sec {
  max-width: 100%;
  background-image: url(./img/b4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.third-sec-heading {
  color: #272a31;
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding-top: 50px;
}

.third-sec-container {
  max-width: 100%;
  background-color: #d3d3d3;
  opacity: 0.9;
}

.speaker {
  font-family: "Lato", sans-serif;
  display: flex;
  margin-bottom: 20px;
  height: auto;
  max-width: 100%;
  padding-left: 20px;
}

.speaker-img {
  max-width: 100%;
  height: 100%;
  margin-top: 13px;
}

.box1 > i {
  color: #d3d3d3;
  opacity: 0.5;
}

.img {
  width: 100%;
  height: 200px;
}

.speaker-info {
  font-family: "Lato", sans-serif;
  flex-direction: column;
  margin-top: 13px;
  padding: 0 20px 20px 20px;
}

.speaker-name {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  color: #272a31;
}

.speaker-rank {
  color: #ec5242;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.speaker-bio {
  font-family: "Lato", sans-serif;
  color: #272a31;
  padding-top: 15px;
}

.underline > hr {
  color: #ec5242;
}

.underline {
  width: 60px;
  margin-left: 48%;
  padding-bottom: 50px;
}

.underline1 > hr {
  color: #ec5242;
}

.underline1 {
  width: 60px;
  margin-left: 40%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.underline2 > hr {
  color: #ec5242;
}

.underline2 {
  width: 60px;
  margin-left: 48%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.fa-brands {
  color: #ec5242;
}

.footer-sec {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
}

.bottom-logo {
  flex: 0;
  align-self: center;
  text-align: center;
}

.btm-logo-txt {
  text-decoration: none;
  color: #272a31;
  font-size: 30px;
}

.logo-txt {
  width: 80px;
  text-decoration: none;
  color: #272a31;
  align-content: center;
  text-align: center;
  font-size: 20px;
}

.copyright {
  font-family: "Lato", sans-serif;
  flex: 1;
  color: #272a31;
  line-height: 25px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #d3d3d3;
    max-width: 100%;
    overflow-x: hidden;
  }

  .hamburger {
    display: none;
  }

  .topnav {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: white;
    padding: 15px;
  }

  .logo-txt {
    width: 80px;
    text-decoration: none;
    color: #272a31;
    align-content: center;
    text-align: center;
    font-size: 20px;
  }

  .fa-brands {
    color: #ec5242;
  }

  .bx1 {
    align-content: center;
  }

  .social-media-links a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #d3d3d3;
    padding-left: 20px;
    font-size: 15px;
  }

  .menu-bar {
    max-width: 100%;
    height: auto;
  }

  .bx2 a {
    text-decoration: none;
    padding-left: 30px;
    color: #272a31;
    font-size: 20px;
    max-width: 100%;
  }

  .fas {
    color: white;
  }

  .first-sec {
    max-width: 100%;
    height: auto;
    background-color: #d3d3d3;
    margin: 0 20px 50px 20px;
  }

  .first-sec-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    margin-top: 30px;
  }

  .first-sec-heading {
    color: #ec5242;
    margin-bottom: 10px;
    font-size: 40px;
    padding-right: 20px;
    line-height: 80px;
  }

  .first-sec-heading :hover {
    color: #272a31;
  }

  .description {
    font-family: "Lato", sans-serif;
    border: 1px solid rgb(141, 136, 136);
    width: 50%;
    margin-bottom: 30px;
    opacity: 1;
    color: #272a31;
    font-size: 20px;
    padding: 10px 20px;
  }

  .date {
    font-family: "Lato", sans-serif;
    line-height: 30px;
    color: #272a31;
    font-size: 25px;
    opacity: 0.8;
    font-weight: 500;
  }

  .second-sec {
    background-image: url("./img/dark-bg.png");
    max-width: 100%;
    height: auto;
    padding: 50px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .top-icon {
    max-width: 100%;
    height: auto;
    font-size: 10px;
    text-align: center;
    padding: 20px 0;
    color: white;
  }

  .program-title {
    color: #ec5242;
    padding-bottom: 20px;
    max-width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
  }

  .program-description {
    font-family: "Lato", sans-serif;
    color: #d3d3d3;
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    line-height: 30px;
    padding-bottom: 50px;
  }

  .sec-sec-heading {
    color: #d3d3d3;
    align-self: center;
    padding: 20px;
    font-size: 20px;
  }

  .program-box1 {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    max-width: 100%;
  }

  .flx2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100%;
  }

  .see-more {
    display: block;
    color: #d3d3d3;
    align-self: center;
    text-decoration: underline;
    font-size: 20px;
    padding: 30px;
  }

  .btn-prog {
    display: none;
  }

  .third-sec {
    max-width: 100%;
    background-image: url(./img/b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .third-sec-heading {
    color: #272a31;
    text-align: center;
    font-size: 20px;
    max-width: 100%;
    padding: 50px;
  }

  .third-sec-container {
    max-width: 100%;
    background-color: #d3d3d3;
    opacity: 0.9;
  }

  .flx1 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .speaker {
    font-family: "Lato", sans-serif;
    display: flex;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .speaker-img {
    max-width: 100%;
    height: auto;
    margin-left: 40px;
    flex: 1;
    margin-top: 25px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .img:hover {
    animation: shake 1s;
    animation-iteration-count: 0.4;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(1deg);
    }
  }

  .speaker-info {
    font-family: "Lato", sans-serif;
    padding: 20px 20px 20px 20px;
    margin: 0;
    flex: 1;
  }

  .speaker-name {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #272a31;
  }

  .speaker-rank {
    font-family: "Lato", sans-serif;
    color: #ec5242;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .speaker-bio {
    font-family: "Lato", sans-serif;
    color: #272a31;
    margin-bottom: 0;
    padding-top: 15px;
  }

  .last-sec {
    display: block;
    max-width: 100%;
    text-align: center;
    background-color: #272a31;
    color: #d3d3d3;
  }

  .last-sec > h3 {
    color: #d3d3d3;
    opacity: 0.5;
    font-size: 40px;
    padding: 20px;
  }

  .partners-wrapper {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }

  .box1 {
    max-width: 100%;
    align-content: center;
  }

  .box1 > i {
    color: #d3d3d3;
    opacity: 0.5;
  }

  .underline > hr {
    color: #ec5242;
  }

  .underline {
    width: 60px;
    margin-left: 48%;
    padding-bottom: 50px;
  }

  .underline1 > hr {
    color: #ec5242;
  }

  .underline1 {
    width: 60px;
    margin-left: 40%;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .underline2 > hr {
    color: #ec5242;
  }

  .underline2 {
    width: 60px;
    margin-left: 48%;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .footer-sec {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 40px;
    background-color: #d3d3d3;
  }

  .bx2 .activate {
    color: #ec5242;
  }

  .bottom-logo {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  .btm-logo-txt {
    text-decoration: none;
    color: #272a31;
    font-size: 50px;
  }

  .copyright {
    font-family: "Lato", sans-serif;
    flex: 1;
    color: #272a31;
    line-height: 25px;
  }

  .social-media {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #272a31;
    padding-right: 30px;
  }

  .logo-icon {
    color: #d3d3d3;
    padding-right: 20px;
  }

  .artist-cont {
    display: none;
  }

  .footer-sec > div {
    display: block;
  }
}
